@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

@mixin flex-container() {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

$body-background-color: #FAEBD7;
$article-background-color: white;
$header-backgroud-color: #6495ED;
$link-dark: black;
$active-link: #DEB887;


/*general rules*/
* {
    box-sizing:border-box;
}

hr {
    display: none;
}

/* image adjustments */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

figure {
    margin: 0;
}

html {
    height: 100%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    height: 100%;
    > div {
        padding: 0;
    }
}

/* Normal Links */
p {
    a, a:visited {
        color: $header-backgroud-color;
        text-decoration: none; 
    }
    a:active {
        color:$active-link;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

/* Article Title Links */
h2 {
    a, a:visited {
        color: $link-dark;
        text-decoration: none;
    }
    a:active {
        color:$active-link;
        text-decoration: none;
    }
    a:hover {
        color: $header-backgroud-color;
        text-decoration: underline;
    }
}

/* Header and header links */

header {
    background-color:$header-backgroud-color;
    padding:2em;
    text-align: right;
    a:link {
        color: $body-background-color;
        text-decoration: none;
    }
    a:visited{
        color: $body-background-color;
        text-decoration: none;
    }
    a:active{
        color: $active-link;
        text-decoration: none;
    }
    a:hover {
        color: $article-background-color;
        text-decoration: underline;
    }
}

hr { 
    display: block;
    color: $body-background-color;
    border-width: 2px;
}

ul {
    list-style-type: none;
    li {
        padding: .5em;
    }
}

/* body fonts, colors, and backgrounds */

h1, h2 {
    font-family: Lora;
    color: $body-background-color;
}

h2 {
    padding: 0 0 2em 0;
    margin-top: .5em;
}

main{
    background-color: $body-background-color;
    padding: 1em 0;
}

article{
    background-color: $article-background-color;
    margin: 1em;
    padding: 2em;
    box-shadow: 5px 5px 5px lightgray;
}

p {
    margin: 2em 0 0 0;
}

.post-date {
    color: grey;
    font-size: .9em;
}


/* Changed ruled for large screen */
@media screen and (min-width:50em) {
    article {
        width: 75%;
        max-width: 80em;
        margin: 2em auto;
        flex-flow: row nowrap;
    }
    body > div {
        @include flex-container;  
    }
    img {
        max-width: 50%;
    }
}


