html{
    box-sizing: border-box;
}
html *{box-sizing: border-box;}

#recipies{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#recipies li{
    width: 400px;
    flex: 0 1 50%;
    border: solid 2px #ffffff;
    text-align: center;
}
#nav li{
    flex: 1 1 100%;
    text-align: center;
    font-size: 1em;
}
#nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;

}
li{
    font-size: 2em;
}
body{
    background-image: url(/acme/images/site/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
#logo{
    width: 50%;
    padding: 10px;
}
#body{
    background-color: #ffffff;
    margin: 0px 40px;
}
#page-nav{
    background-color: #de2226;
    color: #ffffff;
    padding: 10px;
}
#content{
    padding: 10px;
}
.title{
    padding:10px;
    font-size: 4em;
}
footer{
    padding: 10px;
    text-align: center;
}
a:link,a:visited,a:hover,a:active{
    color: white;
    text-decoration: none;
}
#featuredimage{
    width:100%;
}
.image-recipie {
    background-color: #808080;
}
/* .link a{
    color: initial;
} */
.recipei-image{
    width: 50%;
}
#recip a{
    color: blue;
    text-decoration: underline;
}
.hide{
    display: none;
}

@media only screen and (min-width: 600px) {
    #recipies{
        width: 80%;
    }

}