/* Imported Styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/* General Styles */

html{
    box-sizing: border-box;
}
html *{box-sizing: border-box;}

#recipies{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#recipies li{
    width: 400px;
    flex: 0 1 50%;
    border: solid 2px #ffffff;
    text-align: center;
}
#nav li{
    flex: 1 1 100%;
    text-align: center;
    font-size: 1em;
}
#nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;

}
body{
    background-image: url(/acme/images/site/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
#logo{
    width: 80%;
    padding: 10px;
}
#body{
    background-color: #ffffff;
    margin: 0px 40px;
}
#page-nav{
    background-color: #de2226;
    color: #ffffff;
    padding: 10px;
    margin: 0px;
}
#content{
    padding: 10px;
}
.title{
    padding:10px;
}
footer{
    padding: 10px;
    text-align: center;
}
a:link,a:visited{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover,a:active{
    color: #de2226;
    text-decoration: none;
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 20px;
}

/*top title*/
#welcome h1{
    margin: 0px;
    font-weight: bolder;
}

/*top image*/

#welcome-section{
    position: relative;
}
#featuredimage{
    width:100%;
}
#acme-rocket{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: #990033;
    list-style-type: none;
    padding: 0px 2%;
    margin: 0px;
    background-color: #ffffff80;
}
#acme-rocket h2{
    font-weight: bold;
    margin: 0px;
}
#actionbtn{
    width: 100%;
}

/*content pages*/
#npage-img{
    width: 100%;
    padding: 10px;
}
#inner-img{
    max-width: 100%;
}
#npage-list{
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#npage-price{
    color: #de2226;
    font-weight: bold;
}

/*recipie images*/
.image-recipie {
    background-color: #808080;
}
/* .link a{
    color: initial;
} */
.recipei-image{
    width: 50%;
}
#recip a{
    color: blue;
    text-decoration: underline;
}
#npage-list, #npage-productinfo{
    list-style-type: none;
}
#npage-productinfo{
    padding-left: 0px;
}
.hide{
    display: none;
}

   /********************** mobile rules **********************/
/*top title*/
#welcome h1{
    font-size: 30px;
}

/*top image*/
li {
    font-size: 20px;
}
#acme-rocket li{
    font-size: 15px;
}

h2, h3, h4, h5, h6, p{
    font-size: 30px;
}
    /*recipies*/
    .link{
        font-size: 20px;
    }
    #recipies p{
        margin: 10px 0px 20px 0px;
    }
    /*content page*/
    #new-page h1{
        font-size: 30px;
        margin: 0px;
    }
#npage-content{
    font-size: 20px;
}

@media only screen and (min-width: 800px) {
    #recipies{
        width: 80%;
    }

    /*logo*/
    #logo{
        width: 50%;
        padding: 10px;
    }

    /*top image*/
    #acme-rocket li{
        font-size: 2em;
    }
    #acme-rocket h2{
        font-size: 40px;
    }
    #acme-rocket{
        padding: 30px;
    }
    #acme-rocket{
        background-color: transparent;
    }

    /*top title*/
    #welcome h1{
        font-size: 4em;
}
    /*recipies*/
    #recipies p{
        max-height: 300px !important;
        margin: 10px 0px 20px 0px;
    }

    /*flex home page*/
    #main-content{
        display: flex;
        flex-flow: row-reverse;
    }
    #recip {
        width: 60%;
    }

    /*content page*/
    #new-page h1{
        font-size: 4em;
        margin: 0px;
    }
    #npage{
        display: flex;
    }
    #npage-img{
        width: 50%;
        padding: 0px 20px;
    }
    #inner-img{
        width: 100%;
    }
    #npage-list{
        width: 50%;
        margin-top: 0px;
        padding-right: 40px;
        padding-left: 20px;
    }
    #npage-content{
        margin-top: 0px;
    }
    #npage-price{
        color: #de2226;
        font-size: 1.5em;
        font-weight: bold;
    }
    


}